.HeaderLink {
     /* width: 90px;
     height: 30px; */
     color: var(--gold-text);
     cursor: pointer;
     text-decoration: none;
     border-bottom: 2px solid transparent;
     transition: 0.2 linear all;
     text-align: center;
}

.activeHeaderLink {
     border-bottom: 3px solid var(--gold-text);
}