.CafeClubComp {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 12px;
}

.CafeClubComp>svg {
    color: var(--green-color);
    font-size: 40px;
}

.CafeClubComp>span {
    font-size: 16px;
}

@media only screen and (max-width : 630px) {
    .CafeClubComp{
        width: 60px;
        height: 60px;
    }
    .CafeClubComp>svg {
        color: var(--green-color);
        font-size: 30px;
    }

    .CafeClubComp>span {
        font-size: 12px;
    }
}

@media only screen and (max-width : 500px) {
    .CafeClubComp{
        width: 50px;
        height: 50px;
    }
    .CafeClubComp>svg {
        color: var(--green-color);
        font-size: 25px;
    }

    .CafeClubComp>span {
        font-size: 10px;
    }
}