.HeaderPc {
    width: 100%;
    height: 50px;
    background-color: var(--header-background-color);
    backdrop-filter: blur(3px);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0px;
    position: sticky;
    border-bottom: 4px solid var(--gold-text);
    z-index: 10;
}

.HeaderPc__Right-Side-Section {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: var(--gold-text);
    cursor: pointer;
}

.HeaderPc__Right-Side-Section>img {
    width: 100px;
    height: max-content;
}

.HeaderPc__Left-Side-Section {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: var(--gold-text);
    cursor: pointer;
}

.HeaderPc__Left-Side-Section>span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.HeaderPc__Left-Side-Section__Cart-Icon__Count-Products {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 10;
    color: var(--text-color);
    background-color: var(--gold-text);
}

.HeaderPc__Left-Side-Section__Cart__Product-Count {
    width: 25px;
    height: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.HeaderPc__Left-Side-Section__Cart__Logout {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: var(--background-color);
    color: var(--red-color);
    border: 2px solid var(--red-color);
}

.HeaderPc__Left-Side-Section__Cart__Admin {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: var(--gold-text);
    color: black;
    border: 2px solid var(--gold-text);
}

.Admin-Skelete-Loading {
    width: 200px;
    height: 20px;
    border-radius: 4px;
}

/* start responsives ========================================================================================================================================================================================================================== */

@media only screen and (max-width : 1189px) {
    .HeaderPc__Right-Side-Section>img {
        width: 75px;
    }

    .HeaderPc__Left-Side-Section>span {
        font-size: 15px;
    }

    .HeaderPc__Left-Side-Section__Cart__Logout,
    .HeaderPc__Left-Side-Section__Cart__Admin {
        font-size: 12px;
        padding: 2px;
    }

    .HeaderPc__Left-Side-Section>span>svg {
        font-size: 19px;
    }

    .HeaderPc__Right-Side-Section {
        font-size: 15px;
    }

    .HeaderPc__Left-Side-Section__Cart__Product-Count {
        width: 20px;
        height: 20px;
        top: -12px;
        right: -10px;
    }
}

@media only screen and (max-width : 1137px) {
    .HeaderPc__Right-Side-Section>img {
        width: 70px;
    }

    .HeaderPc__Left-Side-Section>span>svg {
        font-size: 18px;
    }

    .HeaderPc__Right-Side-Section {
        font-size: 14px;
    }
}

@media only screen and (max-width : 1089px) {
    .HeaderPc__Right-Side-Section>img {
        width: 65px;
    }

    .HeaderPc__Left-Side-Section>span>svg {
        font-size: 17px;
    }

    .HeaderPc__Right-Side-Section {
        font-size: 13px;
    }

    .HeaderPc__Left-Side-Section__Cart-Icon__Count-Products {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width : 1037px) {

    .HeaderPc__Left-Side-Section__Cart__Logout,
    .HeaderPc__Left-Side-Section__Cart__Admin {
        font-size: 10px;
    }

    .HeaderPc__Right-Side-Section>img {
        width: 60px;
    }

    .HeaderPc__Left-Side-Section>span>svg {
        font-size: 16px;
    }

    .HeaderPc__Right-Side-Section {
        font-size: 12px;
    }
}

@media only screen and (max-width : 988px) {
    .HeaderPc__Right-Side-Section>img {
        width: 50px;
    }

    .HeaderPc__Left-Side-Section>span>svg {
        font-size: 15px;
    }

    .HeaderPc__Left-Side-Section>span {
        font-size: 11px;
    }

    .HeaderPc__Right-Side-Section {
        font-size: 11px;
    }

    .HeaderPc__Left-Side-Section__Cart__Product-Count {
        width: 15px;
        height: 15px;
        top: -5px;
        right: -10px;
    }
}

@media only screen and (max-width : 750px) {

    .HeaderPc__Right-Side-Section {
        font-size: 10px;
    }

    .HeaderPc__Left-Side-Section>span {
        font-size: 10px;
    }

    .HeaderPc__Left-Side-Section__Cart__Logout,
    .HeaderPc__Left-Side-Section__Cart__Admin {
        font-size: 8px;
    }
}

/* start change structure of header ================================================================================================================================================================================================*/

@media only screen and (max-width : 740px) {
    .HeaderPc {
        display: none
    }
}