.GrainFilter {
    width: 100%;
    padding: 5px;
    accent-color: var(--gold-text);
    cursor: pointer;
    border-radius: 4px;
}
.checked {
    background-color: var(--gold-text);
    color: var(--products-background);
}