.TwoSuggested{
    width: 49.34%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    color: white;
    padding: 20px;
    gap: 20px;
    cursor: pointer;
    transition: 0.2s linear all;
}
.TwoSuggested:hover{
    background-color: gray;
    background-blend-mode: multiply;
}
.TwoSuggested__Big_Text{
    font-size: 30px;
    font-weight: bold;
}

/* start responsives ==========================================================================*/

@media only screen and (max-width : 800px) {
    .TwoSuggested__Big_Text{
        font-size: 20px;
    }
    .TwoSuggested__Litt_Text{
        font-size: 15px;
    }
}
@media only screen and (max-width : 600px) {
    .TwoSuggested__Big_Text{
        font-size: 15px;
    }
    .TwoSuggested__Litt_Text{
        font-size: 10px;
    }
}