.Subcomments {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--sub-comments-background);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.Subcomments__Header {
    width: 100%;
    border-bottom: 2px solid var(--gold-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.Subcomments__Header__Left-Side {
    cursor: pointer;
    background-color: var(--green-color);
    border-radius: 6px;
    padding: 5px;
}

.Subcomments__Header__Right-Side{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   row-gap: 5px;
}