.Categories{
    width: 15%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s linear all;
}
.Categories>img{
    width: 100%;
    height: max-content;
    border-radius: 50%;
    transition: 0.2s linear all;
}
.Categories>img:hover{
    opacity: 0.5;
}
.Categories>span{
    font-size: 20px;
    color: var(--dark-text-color);
}
@media only screen and (max-width : 1024px) {
    .Categories>span{
       font-size: 15px;
    }
}
@media only screen and (max-width:768px) {
    .Categories>span{
        font-size: 12px;
     }
}
@media only screen and (max-width:640px) {
    .Categories>span{
        font-size: 10px;
     }
}
