.PanelComments {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: var(--text-color);
}

.PanelComments__FirstName,
.PanelComments__LastName,
.PanelComments__Date {
    width: 100px;
    text-align: center;
}
.PanelComments__Date__Product-Name{
    width: 400px;
    text-align: center;
}
.PanelComments>button{
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;;
    border: none;
    background-color: var(--blue-color);
    color: white;
}
.PanelComments__Short-Btn{
    width: 50px;
}
.PanelComments__Long-Btn{
    width: 200px;
}