.PanelOffCodes {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.PanelOffCodes>span {
    text-align: center;
    width: 100px;
    white-space: nowrap;
    overflow: auto;
}

.PanelOffCodes>span:nth-child(5) {
    text-align: center;
    width: 200px;
}

.PanelOffCodes>button {
    width: 100px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    border: none;
    color: white;
}

.PanelOffCodes>button:nth-of-type(2) {
    background-color: var(--blue-color);
}

.PanelOffCodes>button:nth-of-type(1) {
    background-color: var(--red-color);
}

@media only screen and (max-width : 1230px) {
    .PanelOffCodes>span {
        font-size: 14px;
        width: 60px;
    }

    .PanelOffCodes>span:nth-child(5) {
        width: 150px;
    }

    .PanelOffCodes>button {
        font-size: 12px;
        width: 60px;
    }
}

@media only screen and (max-width : 880px) {
    .PanelOffCodes>span {
        font-size: 12px;
        width: 50px;
        ;
    }

    .PanelOffCodes>span:nth-child(5) {
        width: 100px;
    }

    .PanelOffCodes>button {
        font-size: 10px;
        width: 60px;
    }
}

@media only screen and (max-width : 545px) {
    .PanelOffCodes>span {
        font-size: 10px;
        width: 45px;
    }

    .PanelOffCodes>span:nth-child(5) {
        width: 80px;
    }

    .PanelOffCodes>button {
        font-size: 8px;
        width: 30px;
    }
}

@media only screen and (max-width : 445px) {
    .PanelOffCodes>span {
        font-size: 8px;
        width: 35px;
    }

    .PanelOffCodes>span:nth-child(5) {
        width: 70px;
    }

    .PanelOffCodes>button {
        font-size: 6px;
        width: 20px;
    }
}