.PanelProductsComp {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.PanelProductsComp__Img {
    height: 100px;
    width: 100px;
}

.PanelProductsComp__Name {
    width: 200px;
    height: 22px;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PanelProductsComp__Price,
.PanelProductsComp__OffPrice {
    width: 150px;
    height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PanelProductsComp__Delete,
.PanelProductsComp__Edit {
    width: 100px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PanelProductsComp>button:nth-of-type(1) {
    background-color: var(--red-color);
    color: white;
}

.PanelProductsComp>button:nth-of-type(2) {
    background-color: var(--green-color);
    color: white;
}

@media only screen and (max-width:1065px) {
    .PanelProductsComp__Img {
        height: 75px;
        width: 75px;
    }

    .PanelProductsComp__Name {
        font-size: 12px;
    }

    .PanelProductsComp__Price,
    .PanelProductsComp__OffPrice {
        font-size: 12px;
    }

    .PanelProductsComp__Delete,
    .PanelProductsComp__Edit {
        width: 50px;
        font-size: 10px;
    }
}

@media only screen and (max-width:900px) {
    .PanelProductsComp__Img {
        height: 60px;
        width: 60px;
    }

    .PanelProductsComp__Name {
        width: 150px;
        font-size: 10px;
        height: 15px;
    }

    .PanelProductsComp__Price,
    .PanelProductsComp__OffPrice {
        width: 100px;
        font-size: 10px;
        height: 15px;
    }

    .PanelProductsComp__Delete,
    .PanelProductsComp__Edit {
        font-size: 9px;
        width: 40px;
        height: 20px;
    }
}

@media only screen and (max-width:560px) {
    .PanelProductsComp__Img {
        height: 55px;
        width: 55px;
    }

    .PanelProductsComp__Name {
        width: 150px;
        font-size: 8px;
        height: 12px;
    }

    .PanelProductsComp__Price,
    .PanelProductsComp__OffPrice {
        width: 50px;
        font-size: 8px;
        height: 12px;
    }

    .PanelProductsComp__Delete,
    .PanelProductsComp__Edit {
        width: 30px;
        font-size: 7px;
        height: 15px;
    }
}

@media only screen and (max-width:450px) {
    .PanelProductsComp__Img {
        height: 50px;
        width: 50px;
    }

    .PanelProductsComp__Name {
        width: 100px;
        font-size: 7px;
    }

    .PanelProductsComp__Price,
    .PanelProductsComp__OffPrice {
        width: 50px;
        font-size: 7px;
    }

    .PanelProductsComp__Delete,
    .PanelProductsComp__Edit {
        width: 25px;
        font-size: 6px;
    }
}