.HeaderPhone{
    width: 100%;
    height: 50px;
    background-color:rgba(59, 59, 59, 0.700);
    backdrop-filter: blur(3px);
    padding: 40px 20px;;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
    top: 0px;
    position: fixed;
    border-bottom: 4px solid var(--gold-text);
    z-index: 10;
    border-radius: 6px;
}
.HeaderPhone>:is(span,span>svg){
    font-size: 20px;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold-text);
    position: relative;
}
.HeaderPhone>span{
    cursor: pointer;
}
.HeaderPhone>img{
    width: 50px;
    height: max-content;
}
.HeaderPhone__Cart_Page__Products_Count{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--gold-text);
    color: var(--text-color);
    top: -15px;
    right: -15px;
}

@media only screen and (max-width : 590px) {
    .HeaderPhone{
        display: flex
    };
}