.AllProducts{
    width: 24%;
    height: 350px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;;
    background-color:var(--products-background);
    color: var( --dark-text-color);
    gap: 10px 0;
    padding: 10px;
    position: relative;
    border: 2px solid var(--gold-text);
}
.AllProducts__offPrecent{
    position: absolute;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--gold-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
    top: 20px;
    right: 20px;
}
.AllProducts__img{
    width: 80%;
    height:200px;
}
.AllProducts__name_and_disc{
    width: 100%;
    font-size: 16px;
     white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}
.AllProducts__price_section{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;;
    gap: 10px;
    font-size: 13px;
}
.hasOff{
    color: gray;
    text-decoration: 2px line-through oklch(0.704 0.191 22.216);
}
.AllProducts__offPrice{
    font-weight: 200;
    color: oklch(0.696 0.17 162.48);
    font-weight: bold;
}
.AllProducts__Details{
    width: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.AllProducts__Details>button{
    height: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;;
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--gold-text); 
    color: var(--text-color);
    transition: 0.2s linear all;
}
.AllProducts__Details>button:hover{
    background-color: var(--gold-text);
}
.AllProducts__Details>button>svg{
    cursor: pointer;
    font-size: 13px;
}
.AllProducts__Details__Stras{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    border: 2px solid var(--gold-text);
    padding: 5px;
    border-radius: 4px;
}
.AllProducts__Details__Stras>svg{
    color: oklch(0.852 0.199 91.936);
    font-size: 13px;
}
.AllProducts__Details__Stras>span{
    font-size: 10px;
}
.Not_Found{
    color: oklch(0.704 0.191 22.216);
    font-size: 16px;
    font-weight: bold;
}
/* start responsives ========================================================================================================================= */

@media only screen and (max-width : 1343px){
    .AllProducts{
        height: 290px;
    }
    .AllProducts__img{
        height: 150px;
    }
    .AllProducts__Details>button{
        font-size: 8px;
    }
    .AllProducts__Details__Stras>span{
        font-size: 8px;
    }
    .AllProducts__Details>button>svg{
        font-size: 8px;
    }
    
}
@media only screen and (max-width : 1197px){
    .AllProducts{
        width: 32%;
    }
    .AllProducts__Details>button{
        font-size: 10px;
    }
    .AllProducts__Details__Stras>span{
        font-size: 10px;
    }
    .AllProducts__Details>button>svg{
        font-size: 10px;
    }
       
    }

@media only screen and (max-width : 1020px){
    .AllProducts{
        width: 32%;
    }
    .AllProducts__Details>button{
        font-size: 8px;
    }
    .AllProducts__Details__Stras>span{
        font-size: 8px;
    }
    .AllProducts__Details>button>svg{
        font-size: 8px;
    }
       
    }
@media only screen and (max-width : 900px){
    .AllProducts{
        height: 350px;
    }
    .AllProducts__img{
        height: 200px;
    }
    .AllProducts{
        width: 49%;
    }
    .AllProducts__Details>button{
        font-size: 10px;
    }
    .AllProducts__Details__Stras>span{
        font-size: 10px;
    }
    .AllProducts__Details>button>svg{
        font-size: 10px;
    }
       
    }
@media only screen and (max-width : 686px){
    .AllProducts{
        height: 290px;
    }
    .AllProducts__img{
        height: 150px;
    }
    .AllProducts{
        width: 49%;
    }
    .AllProducts__Details>button{
        font-size: 8px;
    }
    .AllProducts__Details__Stras>span{
        font-size: 8px;
    }
    .AllProducts__Details>button>svg{
        font-size: 8px;
    }
       
    }
    @media only screen and (max-width : 600px) {
    .AllProducts{
        height: 280px;
    }
    .AllProducts__img{
        height: 100px;
    }
    .AllProducts__name_and_disc{
        font-size: 12px;
    }
    .AllProducts__price_section{
        font-size: 10px;
    }
    .AllProducts__Details{
        flex-direction: column;
        gap: 5px;
    }
    .AllProducts__Details>button , .AllProducts__Details__Stras{
        width: 100%;
        height: 25px;
    }
    .Not_Found{
        font-size: 10px;
    }
}

@media only screen and (max-width : 380px) {
    .AllProducts{
        width: 100%;
        height: 250px;
    }
    .AllProducts__img{
        height: 120px;
    }
    .AllProducts__name_and_disc{
        font-size: 16px;
    }
    .AllProducts__price_section{
        font-size: 14px;
    }
    .AllProducts__Details>button , .AllProducts__Details__Stras{
        width: max-content;
        height: 25px;
    }
    .AllProducts__Details{
        flex-direction: row;
    }
}