.MainPageProducts {
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    background-color: var(--products-background);
    color: var(--dark-text-color);
    gap: 10px 0;
    padding: 10px;
    position: relative;
    border: 2px solid var(--gold-text);
}

.MainPageProducts__offPrecent {
    position: absolute;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--gold-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
    top: 20px;
    right: 20px;
}

.MainPageProducts__img {
    width: 80%;
    height: 200px;
}

.MainPageProducts__name-and-disc {
    width: 100%;
    font-size: 18px;
}

.MainPageProducts__price-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    ;
    gap: 10px;
    font-size: 15px;
}


.hasOff {
    color: gray;
    text-decoration: 2px line-through oklch(0.704 0.191 22.216);
}

.MainPageProducts__offPrice {
    font-weight: 200;
    color: oklch(0.696 0.17 162.48);
     white-space: nowrap;
     overflow: auto;
    font-weight: bold;
}

.MainPageProducts__Details {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.MainPageProducts__Details>button {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--gold-text);
    color: var(--text-color);
    transition: 0.2s linear all;
    height: 20px;
}

.MainPageProducts__Details>button:hover {
    background-color: var(--gold-text);
}

.MainPageProducts__Details>button>svg {
    cursor: pointer;
    font-size: 16px;
}

.MainPageProducts__Details__Stras {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    border: 2px solid var(--gold-text);
    padding: 10px;
    border-radius: 4px;
}

.MainPageProducts__Details__Stras>svg {
    color: oklch(0.852 0.199 91.936);
    font-size: 16px;
}

.MainPageProducts__Details__Stras>span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainPageProducts__Details__Not-Value {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* start responsive ======================================================================================================================== */
@media only screen and (max-width : 1150px) {

    .MainPageProducts {
        height: max-content;
    }

    .MainPageProducts__img {
        height: 160px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 14px;
    }

    .MainPageProducts__price-section {
        font-size: 12px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 10px;
    }

    .MainPageProducts__Details__Not-Value {
        font-size: 10px;
    }
}

@media only screen and (max-width : 1050px) {
    .MainPageProducts {
        height: max-content;
    }

    .MainPageProducts__img {
        height: 160px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 14px;
    }

    .MainPageProducts__price-section {
        font-size: 12px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        padding: 2px;
    }

    .MainPageProducts__Details__Stras>span {
        padding: 2px;
    }
}

/* @media only screen and (max-width : 950px) {
    .MainPageProducts {
        height: 270px;
    }

    .MainPageProducts__img {
        height: 180px;
    }
} */

/* @media only screen and (max-width : 900px) {

    .MainPageProducts__price-section {
        font-size: 12px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 10px;
    }

} */

@media only screen and (max-width : 800px) {

    .MainPageProducts {
        height: 280px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 16px;
    }

    .MainPageProducts__img {
        height: 150px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 12px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 12px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 12px;
    }

}

@media only screen and (max-width : 677px) {

    .MainPageProducts__price-section {
        font-size: 14px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 14px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 12px;
    }
}

@media only screen and (max-width : 550px) {
    .MainPageProducts__price-section {
        font-size: 12px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 14px;
    }

    .MainPageProducts__Details__Not-Value {
        font-size: 12px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 8px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 12px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 10px;
    }

    .MainPageProducts__Details>button>svg {
        font-size: 12px;
    }
}

@media only screen and (max-width : 500px) {

    .MainPageProducts__offPrecent {
        font-size: 12px;
    }

    .MainPageProducts__img {
        height: 100px;
    }

    .MainPageProducts__Details {
        flex-direction: column;
        row-gap: 5px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        width: 90%;
        height: 10px;
        padding: 8px;
        border-radius: 2px;
    }
}

@media only screen and (max-width : 450px) {
    .MainPageProducts__price-section {
        font-size: 10px;
    }

    .MainPageProducts__Details__Not-Value {
        font-size: 10px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 12px;
    }
}

@media only screen and (max-width : 395px) {
    .MainPageProducts__offPrecent {
        font-size: 10px;
    }

    .MainPageProducts__img {
        height: 75px;
    }

    .MainPageProducts {
        height: 200px;
    }

    .MainPageProducts__price-section {
        font-size: 8px;
    }

    .MainPageProducts__Details__Not-Value {
        font-size: 8px;
    }

    .MainPageProducts__name-and-disc {
        font-size: 10px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        font-size: 6px;
    }

    .MainPageProducts__Details__Stras>svg {
        font-size: 10px;
    }

    .MainPageProducts__Details__Stras>span {
        font-size: 8px;
    }

    .MainPageProducts__Details>button,
    .MainPageProducts__Details__Stras {
        padding: 6px;
    }

    .MainPageProducts__Details>button>svg {
        font-size: 8px;
    }
}