* {
    direction: rtl;
    user-select: none;

    @font-face {
        font-family: Lalezar;
        src: url("C:\Web Development\react\Resume\CaffeShopp\src\Fonts\Lalezar-Regular.ttf");
    }

    font-family: Lalezar;
    box-sizing: border-box;
}

:root {
    --header-background-color: rgba(59, 59, 59);
    --background-color: #443627;
    --text-color: white;
    --products-background: oklch(0.374 0.01 67.558);
    --gold-text: #FFCDB2;
    --red-color: oklch(0.704 0.191 22.216);
    --green-color: oklch(0.696 0.17 162.48);
    --sub-comments-background: rgb(80, 80, 80);
    --blue-color: rgb(54, 79, 244);
    --modal-background: rgba(220, 220, 220, 0.9)
}

.loading {
    justify-content: center !important;
    align-items: center !important;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}