body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: max-content;
  position: relative;
}

@font-face {
  font-family: Lalezar;
  src: url(./Fonts/Lalezar-Regular.ttf);
}

* {
  font-family: Lalezar;
}