.PanelMenus {
    width: 100%;
    /* height: 25px; */
    cursor: pointer;
    text-decoration: none;
    color: var(--gold-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 15px;
}

.PanelMenusLoading {
    width: 100%;
    height: 25px;
}

.activePanelMenus {
    border-left: 4px solid var(--gold-text);
}

@media only screen and (max-width : 1095px) {
    .PanelMenus {
        font-size: 12px;
        gap: 8px;
    }

    .PanelMenus>svg {
        font-size: 14px;
    }
}

@media only screen and (max-width : 850px) {
    .PanelMenus {
        font-size: 10px;
    }
}

@media only screen and (max-width : 730px) {
    .PanelMenus {
        width: max-content;
        font-size: 8px;
        text-align: center;
        padding: 2px;
        border-bottom: 1px solid transparent;
    }

    .activePanelMenus {
        border: none;
        border-bottom: 1px solid var(--gold-text);
    }
}

@media only screen and (max-width : 700px) {
    .PanelMenus>svg {
        display: none;
    }
}

@media only screen and (max-width : 545px) {
    .PanelMenus {
        font-size: 7px;
    }
}

@media only screen and (max-width : 380px) {
    .PanelMenus {
        font-size: 6px;
    }
}