.TwoSuggestLoading {
    width: 49.34%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--products-background);
    padding: 20px;
    gap: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.TwoSuggestLoading__Title {
    width: 300px;
    height: 35px;
}

.TwoSuggestLoading__Disc {
    width: 150px;
    height: 25px;
}

@media only screen and (max-width : 1000px) {
    .TwoSuggestLoading {
        width: 100%;
    }

    .TwoSuggestLoading__Title {
        width: 400px;
    }

    .TwoSuggestLoading__Disc {
        width: 250px;
    }
}
@media only screen and (max-width : 600px){
        .TwoSuggestLoading__Title {
        width: 300px;
    }

    .TwoSuggestLoading__Disc {
        width: 150px;
    }
}

@media only screen and (max-width : 450px){
        .TwoSuggestLoading__Title {
        width: 200px;
    }

    .TwoSuggestLoading__Disc {
        width: 100px;
    }
}